<div id="container"></div>

<script type="text/javascript">
  $(document).ready(function() {
    Recommender.Models.Recommend.prototype.url = '<%= recommend_path(@recommend) %>';
    new Recommender.Routers.RecommendShow();
    Backbone.history.start();
  })
</script>